<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../src/css/main.min.css"> -->
    <link rel="stylesheet" href="../static/css/main.min.css">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <nav>
        <div>
            <ul>
                <a href="/">
                    <li>Text to pdf</li>
                </a>
                <a href="/base">
                    <li>Base Conversion</li>
                </a>
                <a href="/base/calculator">
                    <li>Base Calculator</li>
                </a>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>

</html>